<%- include('partials/header.ejs') %>

<body>
    <div class="main-content-box container mx-auto">
        <h1>Welcome back to your grub.</h1>
        <p>Your food in your hands.</p>
    </div>
</body>

<%- include('partials/footer.ejs') %>