.login-title {
    font-family: "Poetsen One", sans-serif;
    font-size: 5rem;
}

.login-text { 
    font-family: "Patrick Hand", cursive;
    font-size: 2rem;
}

.banana {
    left: 25%;
    z-index: 1;
    animation: fruitAnimation 4s;
    animation-timing-function: cubic-bezier(1, 0.05, .55, .5); 
}

.grapes {
    left: 10%;
    z-index: 2;
    animation: fruitAnimation 2.5s; 
    animation-timing-function: cubic-bezier(.8, 0.25, .55, .2); 
}

.orange {
    right: 10%;
    z-index: 3;
    animation: fruitAnimation 3s; 
    animation-timing-function: cubic-bezier(.5, 0.5, .25, .7); 
}

.pizza {
    right: 25%;
    animation: fruitAnimation 3.25s; 
    animation-timing-function: cubic-bezier(1, 0.5, .25, .7); 
}

.shape {
    position: relative;
    flex-basis: 50%;
    width: 33%;
    object-fit:scale-down; 
    animation-direction: alternate;
    animation-iteration-count: infinite; 
}

.btn-primary {
    background-color: #B5C18E;
    width: 40%;
}

.btn-secondary {
    background-color: #B99470;
    width: 40%;
}

@keyframes fruitAnimation{ 
    from { transform: translate3d(0, -60px, 0);} 
    to { transform: translate3d(0, 0px, 0);} 
}
