.home-title {
    font-family: "Poetsen One", sans-serif;
    font-size: 4rem;
}

.home-text { 
    font-family: "Patrick Hand", cursive;
    font-size: 2rem;
}

.banana {
    left: 5%;
    z-index: 1;
    animation: fruitAnimation 2s;
    animation-timing-function: cubic-bezier(1, 0.05, .55, .5); 
}

.grapes {
    z-index: 2;
    left: 20%;
    animation: fruitAnimation 1.25s; 
    animation-timing-function: cubic-bezier(.8, 0.25, .55, .2); 
}

.orange {
    z-index: 3;
    right: 20%;
    animation: fruitAnimation 1.5s; 
    animation-timing-function: cubic-bezier(.5, 0.5, .25, .7); 
}

.pizza {
    right: 5%;
    animation: fruitAnimation 1.75s; 
    animation-timing-function: cubic-bezier(1, 0.5, .25, .7); 
}

.shape {
    position: absolute;
    width: 40%;
    object-fit:scale-down; 
    animation-direction: alternate;
    animation-iteration-count: infinite; 
}

@keyframes fruitAnimation{ 
    from { transform: translate3d(0, -60px, 0);} 
    to { transform: translate3d(0, 0px, 0);} 
} 
