.login-title {
    font-family: "Poetsen One", sans-serif;
    font-size: 5rem;
}

.login-text { 
    font-family: "Patrick Hand", cursive;
    font-size: 2rem;
}

.banana {
    left: 15%;
    z-index: 1;
    animation: fruitAnimation 2.75s;
    animation-timing-function: ease-in-out
}

.grapes {
    left: 7.5%;
    z-index: 2;
    animation: fruitAnimation 2s; 
    animation-timing-function: ease-in-out; 
}

.orange {
    right: 7.5%;
    z-index: 3;
    animation: fruitAnimation 2.5s; 
    animation-timing-function: ease-in-out; 
}

.pizza {
    right: 15%;
    animation: fruitAnimation 2.25s; 
    animation-timing-function: ease-in-out; 
}

.shape {
    position: relative;
    flex-basis: 50%;
    width: 33%;
    object-fit:scale-down; 
    animation-direction: alternate;
    animation-iteration-count: infinite; 
}

.btn-primary {
    background-color: #B5C18E;
    width: 40%;
}

.btn-secondary {
    background-color: #B99470;
    width: 40%;
}

@keyframes fruitAnimation{ 
    to { transform: translate3d(0, 0px, 0);} 
    from { transform: translate3d(0, -40px, 0);}
}
