.home-box {
    display: flex;
    flex-direction: column;

    background-color: #fff3e4;
}

.home-title-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;

    z-index: 4;
    margin-top: 5%;
}

.home-body-box {
    margin-top: 8%;
    margin-bottom: 8%;
}

.home-shape-box {
    padding-left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-form-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-form {
    width: 80%;
}

.form-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

@media (max-width: 767.98px) {
    .home-form-box {
        align-items: center;
    }
}