.grubbie-page {
    background-color: #fff3e4;
}

.login-box {
    display: flex;
    flex-direction: column;
    height: 1vh;
}

.login-title-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;

    z-index: 4;
    margin-top: 5%;
}

.login-body-box {
    margin-top: 5%;
    margin-bottom: 5%;
}

.login-shape-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-form {
    width: 80%;
}

.form-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

@media (max-width: 576px) {
    .login-form-box {
        align-items: center;
    }
    .login-body-box {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .login-shape-box {
        padding-top: 7%;
        padding-bottom: 5%;
    }
}